html {
  font-size: 10px; /* px means pixels */
  font-family: 'Titillium Web', sans-serif;
  background-color: #2377B8;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  color: #2377B8;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 40px;
}

h1, h2 {
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}
